<navigation></navigation>

<div class="container">
  <h1>Add previous exam</h1>

  <form ng-submit="examCtrl.onSubmit()">
          <label>1.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score1">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
            <md-radio-button value="4"> 4 </md-radio-button>
            <md-radio-button value="5"> 5 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>2.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score2" ng-required="true">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
            <md-radio-button value="4"> 4 </md-radio-button>
            <md-radio-button value="5"> 5 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>3.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score3">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>4.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score4">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
            <md-radio-button value="4"> 4 </md-radio-button>
            <md-radio-button value="5"> 5 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>5.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score5">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>6.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score6">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>7.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score7">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>8.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score8">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>9.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score9">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>10.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score10">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>11.
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score11">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <button type="submit" class="btn btn-success">Submit</button>
        </form><br>
         <flash-message
         ></flash-message>


</div>
