<navigation></navigation>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="form-signin-heading">Mini-Mental State Examination</h1>
      <p class="lead">Instructions: Ask the questions in the order listed. Score one point for each correct response within each question or activity
      </p>

        <form ng-submit="examCtrl.onSubmit()">
          <label>"What is the year? Season? Date? Day of the week? Month?"</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score1" value="option1" ng-model="examCtrl.score1"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score2" value="option2" ng-model="examCtrl.score1"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score3" value="option3" ng-model="examCtrl.score1"> 3
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score4" value="option4" ng-model="examCtrl.score1"> 4
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score5" value="option5" ng-model="examCtrl.score1"> 5
            </label>
          </div>
          <label>"Where are we now: State? Country? Town/city? Hospital? Floor?"</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score1" value="option1" ng-model="examCtrl.score2"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score2" value="option2" ng-model="examCtrl.score2"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score3" value="option3" ng-model="examCtrl.score2"> 3
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score4" value="option4" ng-model="examCtrl.score2"> 4
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score5" value="option5" ng-model="examCtrl.score2"> 5
            </label>
          </div>
          <label>The examiner names three unrelated objects clearly and slowly, then asks the patient to name all three of them. The patient's reponse is used for scoring The examiner repeats them until patient learns all of them, if possible. Number of trials:______</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score3" id="3score1" value="option1" ng-model="examCtrl.score3"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score3" id="3score2" value="option2" ng-model="examCtrl.score3"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score3" id="3score3" value="option3" ng-model="examCtrl.score3"> 3
            </label>
          </div>
          <label>"I would like you to count backward from 100 by sevens." (93, 86, 79, 72, 65, ...) Stop after five answers.<br>
          Alternative: "Spell WORLD backwards." (D-L-R-O-W)</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="inlineRadio1" value="option1" ng-model="examCtrl.score4"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="inlineRadio2" value="option2" ng-model="examCtrl.score4"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="inlineRadio3" value="option3" ng-model="examCtrl.score4"> 3
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="inlineRadio4" value="option4" ng-model="examCtrl.score4"> 4
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="inlineRadio5" value="option5" ng-model="examCtrl.score4"> 5
            </label>
          </div>
          <label>"Earlier I told you the names of three things. Can you tell me what those were?"</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score5" id="inlineRadio1" value="option1" ng-model="examCtrl.score5"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score5" id="inlineRadio2" value="option2" ng-model="examCtrl.score5"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score5" id="inlineRadio3" value="option3" ng-model="examCtrl.score5"> 3
            </label>
          </div>
          <label>Show the patient two simple objects, such as a wristwatch and a pencil, and ask the patient to name them.</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score6" id="inlineRadio1" value="option1" ng-model="examCtrl.score6"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score6" id="inlineRadio2" value="option2" ng-model="examCtrl.score6"> 2
            </label>
          </div>
          <label>"Repeat the phrase: 'No ifs, ands, or buts."</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score7" id="inlineRadio1" value="option1" ng-model="examCtrl.score7"> 1
            </label>
          </div>
          <label>"Take the paper in your right hand, fold it in half, and put it on the floor." (The examiner gives the patient a piece of blank paper.)</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score8" id="inlineRadio1" value="option1" ng-model="examCtrl.score8"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score8" id="inlineRadio2" value="option2" ng-model="examCtrl.score8"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score8" id="inlineRadio3" value="option3" ng-model="examCtrl.score8"> 3
            </label>
          </div>
          <label>"Please read this and do what it says." (Written instruction is "Close your eyes.")</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score9" id="inlineRadio1" value="option1" ng-model="examCtrl.score9"> 1
            </label>
          </div>
          <label>"Make up and write a sentence about anything." (This sentence must contain a noun and a verb.)</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score10" id="inlineRadio1" value="option1" ng-model="examCtrl.score10"> 1
            </label>
          </div>
          <label>"Please copy this picture." (The examiner gives the patient a blank piece of paper and asks him/her to draw the symbol below. All 10 angles must be present and two must intersect.)</label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score11" id="inlineRadio1" value="option1" ng-model="examCtrl.score11"> 1
            </label>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
    <div class="row">Scoring</div>
  </div>

