<navigation></navigation>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1 class="form-signin-heading">Mini-Mental State Examination</h1>
      <p class="lead">Instructions: Ask the questions in the order listed. Score one point for each correct response within each question or activity
      </p>
        <form ng-submit="examCtrl.onSubmit()">
          <label>1. "What is the year? Season? Date? Day of the week? Month?"
          <!-- <md-content> -->
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right" class="question-tooltip">
                Ask for the date. Then specifically ask for parts omitted(e.g., "Can you also tell me what season it is?"). One point for each correct answer.
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          <!-- </md-content> -->
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score0" value="0" ng-model="examCtrl.newExam.score1"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score1" value="1" ng-model="examCtrl.newExam.score1"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score2" value="2" ng-model="examCtrl.newExam.score1"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score3" value="3" ng-model="examCtrl.newExam.score1"> 3
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score4" value="4" ng-model="examCtrl.newExam.score1"> 4
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score1" id="1score5" value="5" ng-model="examCtrl.newExam.score1"> 5
            </label>
          </div>
          <label>2. "Where are we now: State? Country? Town/city? Hospital? Floor?"
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Ask in turn, "Can you tell me the name of this hospital (town, county, etc.)?" One point for each correct answer.
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score0" value="0" ng-model="examCtrl.newExam.score2"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score1" value="1" ng-model="examCtrl.newExam.score2"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score2" value="2" ng-model="examCtrl.newExam.score2"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score3" value="3" ng-model="examCtrl.newExam.score2"> 3
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score4" value="4" ng-model="examCtrl.newExam.score2"> 4
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score2" id="2score5" value="5" ng-model="examCtrl.newExam.score2"> 5
            </label>
          </div>
          <label>3. The examiner names three unrelated objects clearly and slowly, then asks the patient to name all three of them. The patient's reponse is used for scoring The examiner repeats them until patient learns all of them, if possible. Number of trials:______
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score3" id="3score0" value="0" ng-model="examCtrl.newExam.score3"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score3" id="3score1" value="1" ng-model="examCtrl.newExam.score3"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score3" id="3score2" value="2" ng-model="examCtrl.newExam.score3"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score3" id="3score3" value="3" ng-model="examCtrl.newExam.score3"> 3
            </label>
          </div>
          <label>4. "I would like you to count backward from 100 by sevens." (93, 86, 79, 72, 65, ...) Stop after five answers.<br>
          Alternative: "Spell WORLD backwards." (D-L-R-O-W)
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="4score0" value="0" ng-model="examCtrl.newExam.score4"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="4score1" value="1" ng-model="examCtrl.newExam.score4"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="4score2" value="2" ng-model="examCtrl.newExam.score4"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="4score3" value="3" ng-model="examCtrl.newExam.score4"> 3
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="4score4" value="4" ng-model="examCtrl.newExam.score4"> 4
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score4" id="4score5" value="5" ng-model="examCtrl.newExam.score4"> 5
            </label>
          </div>
          <label>5. "Earlier I told you the names of three things. Can you tell me what those were?"
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score5" id="5score0" value="0" ng-model="examCtrl.newExam.score5"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score5" id="5score1" value="1" ng-model="examCtrl.newExam.score5"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score5" id="5score2" value="2" ng-model="examCtrl.newExam.score5"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score5" id="5score3" value="3" ng-model="examCtrl.newExam.score5"> 3
            </label>
          </div>
          <label>6. Show the patient two simple objects, such as a wristwatch and a pencil, and ask the patient to name them.
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score6" id="6score0" value="0" ng-model="examCtrl.newExam.score6"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score6" id="6score1" value="1" ng-model="examCtrl.newExam.score6"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score6" id="6score2" value="2" ng-model="examCtrl.newExam.score6"> 2
            </label>
          </div>
          <label>7. "Repeat the phrase: 'No ifs, ands, or buts."
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score7" id="7score0" value="0" ng-model="examCtrl.newExam.score7"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score7" id="7score1" value="1" ng-model="examCtrl.newExam.score7"> 1
            </label>
          </div>
          <label>8. "Take the paper in your right hand, fold it in half, and put it on the floor." (The examiner gives the patient a piece of blank paper.)
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score8" id="8score0" value="0" ng-model="examCtrl.newExam.score8"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score8" id="8score1" value="1" ng-model="examCtrl.newExam.score8"> 1
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score8" id="8score2" value="2" ng-model="examCtrl.newExam.score8"> 2
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score8" id="8score3" value="3" ng-model="examCtrl.newExam.score8"> 3
            </label>
          </div>
          <label>9. "Please read this and do what it says." (Written instruction is "Close your eyes.")
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score9" id="9score0" value="0" ng-model="examCtrl.newExam.score9"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score9" id="9score1" value="1" ng-model="examCtrl.newExam.score9"> 1
            </label>
          </div>
          <label>10. "Make up and write a sentence about anything." (This sentence must contain a noun and a verb.)
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score10" id="10score0" value="0" ng-model="examCtrl.newExam.score10"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score10" id="10score1" value="1" ng-model="examCtrl.newExam.score10"> 1
            </label>
          </div>
          <label>11. "Please copy this picture." (The examiner gives the patient a blank piece of paper and asks him/her to draw the symbol below. All 10 angles must be present and two must intersect.)
            <md-button id="tooltip" class="md-icon-button" aria-label="tip">
              <md-tooltip md-direction="right">
                Hello
              </md-tooltip>
              <md-icon md-svg-src="../images/question.svg"></md-icon>
              </md-icon>
            </md-button>
          </label>
          <div class="form-group">
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score11" id="11score0" value="0" ng-model="examCtrl.newExam.score11"> 0
            </label>
            <label class="form-check-inline">
              <input class="form-check-input" type="radio" name="score11" id="11score1" value="1" ng-model="examCtrl.newExam.score11"> 1
            </label>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          <a class="btn btn-warning" href="scoring" role="button">Scoring</a>
          <a class="btn btn-info" href="stats" role="button">Stats</a>
        </form>
      </div>
    </div>
  </div>

