<navigation></navigation>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-centered">
      <h1 class="form-signin-heading">Mini-Mental State Examination</h1>
      <p class="lead">Instructions: Ask the questions in the order listed. Score one point for each correct response within each question or activity
      </p>
        <form ng-submit="examCtrl.onSubmit()">
          <label>1. "What is the year? Season? Date? Day of the week? Month?"
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown1" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Orientation (5 points):</u><br>
                • Ask for the date. Then specifically ask for parts omitted(e.g., "Can you also tell me what season it is?"). One point for each correct answer.
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score1">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
            <md-radio-button value="4"> 4 </md-radio-button>
            <md-radio-button value="5"> 5 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>2. "Where are we now: State? Country? Town/city? Hospital? Floor?"
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown2" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Orientation (5 points):</u><br>
                • Ask in turn, "Can you tell me the name of this hospital (town, county, etc.)?" One point for each correct answer.
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score2">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
            <md-radio-button value="4"> 4 </md-radio-button>
            <md-radio-button value="5"> 5 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>3. The examiner names three unrelated objects clearly and slowly, then asks the patient to name all three of them. The patient's reponse is used for scoring The examiner repeats them until patient learns all of them, if possible. Number of trials:______
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown3" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Registration (3 points):</u><br>
                • Say the names of three unrelated objects clearly and slowly, allowing approximately one second for each. After you have said all three, ask the patient to repeat them.
                The number of objects the patient names correctly upon the first repitition determines the score (0-3). If the patient does not repeat all three objects the first time,
                continue saying the names until the patient is able to repeat all three items, up to six trials. Record the number of trials it takes for the patient to learn the words.
                If the patient does not eventually learn all three, recall cannot be meaningfully tested. <br><br>
                • After completing this task, tell the patient, "Try to remember the words, as I will ask for them in a little while."
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score3">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>4. "I would like you to count backward from 100 by sevens." (93, 86, 79, 72, 65, ...) Stop after five answers.<br>
          Alternative: "Spell WORLD backwards." (D-L-R-O-W)
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown4" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Attention and Calculation (5 points):</u><br>
                • Ask the patient to begin with 100 and count backward by sevens. Stop after five subtractions (93, 86, 79, 72, 65). Score the total number of correct answers.<br><br>
                • If the patient cannot or will not perform the subtraction task, ask the patient to spell the word "world" backwards. The score is the number of letters in correct order (e.g., dlrow=5, dlorw=3).
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score4">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
            <md-radio-button value="4"> 4 </md-radio-button>
            <md-radio-button value="5"> 5 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>5. "Earlier I told you the names of three things. Can you tell me what those were?"
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown5" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Recall (3 points):</u><br>
                • Ask the patient if he or she can recall the three words you previously asked him or her to remember. Score the total number of correct answers (0-3).
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score5">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>6. Show the patient two simple objects, such as a wristwatch and a pencil, and ask the patient to name them.
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown6" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Language and Praxis (2 points):</u><br>
                • Naming: Show the patient a wrist watch and ask the patient what it is. Repeat with a pencil. Score one point for each correct naming (0-2).
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score6">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>7. "Repeat the phrase: 'No ifs, ands, or buts."
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown7" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Language and Praxis (1 points):</u><br>
                • Repetition: Ask the patient to repeat the sentence after you ("No ifs, ands, or buts."). Allow only one trial. Score 0 or 1.
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score7">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>8. "Take the paper in your right hand, fold it in half, and put it on the floor." (The examiner gives the patient a piece of blank paper.)
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown8" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Language and Praxis (3 points):</u><br>
                • 3-Stage Command: Give the patient a piece of blank paper and say, "Take this paper in your right hand, fold it in half, and put it on the floor."
                Score one point for each part of the command correctly executed.
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score8">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
            <md-radio-button value="2"> 2 </md-radio-button>
            <md-radio-button value="3"> 3 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>9. "Please read this and do what it says." (Written instruction is "Close your eyes.")
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown9" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Language and Praxis (1 points):</u><br>
                • Reading: On a blank piece of paper print the sentence, "Close your eyes," in letters large enough for the patient to see clearly.
                Ask the patient to read the sentence and do what it says. Score one point only if the patient actually closes his or her eyes.
                This is not a test of memory, so you may prompt the patient to "do what it says" after the patient reads the sentence.
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score9">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>10. "Make up and write a sentence about anything." (This sentence must contain a noun and a verb.)
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
              <div id="dropdown10" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <u>Language and Praxis (1 points):</u><br>
                • Writing: Give the patient a blank piece of paper and ask him or her to write a sentence for you. Do not dictate a sentence;
                it should be written spontaneously. The sentence must contain a subject and a verb and make sense. Correct grammar and punctuation are not necessary.
              </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score10">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <label>11. "Please copy this picture." (The examiner gives the patient a blank piece of paper and asks him/her to draw the symbol below. All 10 angles must be present and two must intersect.)
            <span uib-dropdown on-toggle="toggled(open)">
              <md-icon class="icon" uib-dropdown-toggle md-svg-src="../images/question.svg"></md-icon>
                <div id="dropdown11" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                  <u>Language and Praxis (1 points):</u><br>
                  • Copying: Show the patient the picture of two intersecting pentagons and ask the patient to copy the figure exactly as it is.
                  All ten angles must be present and two must intersect to score one point. Ignore tremor and rotation.
                </div>
            </span>
          </label>
          <md-radio-group layout="row" ng-model="examCtrl.newExam.score11">
            <md-radio-button value="0" class="md-primary">0</md-radio-button>
            <md-radio-button value="1"> 1 </md-radio-button>
          </md-radio-group>
          <hr>
          <button type="submit" class="btn btn-success">Submit</button>
          <a class="btn btn-info" href="stats" role="button">Stats</a>
        </form>
      </div>
    </div>
  </div>

