<!DOCTYPE html>
<html ng-app="health">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mental Health</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.3.js"></script>

  <script src="scripts/app.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <ul class="logo navbar-left">
      <a href="#">Logo</a>
    </ul>
    <ul class="links navbar-right">
      <a href="#">Sign Up</a>
      <a href="#">Log In</a>
    </ul>
  </nav>
  <div ng-view></div>
</body>
</html>
