<!DOCTYPE html>
<html ng-app="health">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mental Health</title>
  <link rel="stylesheet" href="../styles/styles.css">

  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/welcomeController.js"></script>
  <script src="scripts/controllers/loginController.js"></script>
  <script src="scripts/controllers/signupController.js"></script>
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/login">Login</a> |
    <a href="/logout">Logout</a> |
    <a href="/signup">Sign Up</a> |
    <a href="/profile">Profile</a>
  </nav>
  <div ng-view></div>
</body>
</html>
