/*md-tooltip md-content {
  font-size: 40px;
  max-width: 30px;
  height: auto;
}
*/

/*.question-tooltip {
  font-size: 20px;
  max-width: 500px;
  max-height: 500px;
}
*/

.dropdown-menu {
  width: 300px !important;
  height: 420px !important;
  padding: 10px;
}
