/*md-tooltip md-content {
  font-size: 40px;
  max-width: 30px;
  height: auto;
}
*/

/*.question-tooltip {
  font-size: 20px;
  max-width: 500px;
  max-height: 500px;
}
*/

.jumbotron {
  background-image: url(../images/brain2.jpg);
  background-size: cover;
  width: 80%;
  height: 500px;
  color: white;
}

#jumboContent {
  margin-top: 300px;
}

footer {
  height: 50px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.bottomBorder {
  border-bottom: 1px solid black;
}

.scores {
  font-size: 1.2em;
  border: 1px solid black;
  padding: 2%;
}

#interpret {
  height: 250px;
  width: auto;
}

/*#rightBorder {
  border-right: 1px solid black;
}*/

.dropdown-menu {
  padding: 10px;
  width: 350px;
}

#dropdown3 {
  width: 330px !important;
  /*height: 390px !important;*/
}

#dropdown6 {
  width: 300px !important;
}

/*#chartContainer {
  margin-top: 30px;
}*/

/*.icon:hover {
  transform: translateX(4px);
  background-color: blue;
}
*/
