/*md-tooltip md-content {
  font-size: 40px;
  max-width: 30px;
  height: auto;
}
*/

/*.question-tooltip {
  font-size: 20px;
  max-width: 500px;
  max-height: 500px;
}
*/

footer {
  height: 50px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

/*.container {
  float: center;
}*/

.dropdown-menu {
  padding: 10px;
  width: 350px;
}

#dropdown3 {
  width: 350px !important;
  /*height: 390px !important;*/
}

/*.icon:hover {
  transform: translateX(4px);
  background-color: blue;
}
*/
